<template>
  <div
    class="w-[88%] mx-auto text-[14px] flex flex-wrap justify-around mt-20 gap-10 py-14"
  >
    <section>
      <header>
        <a href="#" class="flex gap-1"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M3.414 13.7782C2.5 14.0002 2 15.1922 2 15.1922C2 15.1922 5.398 15.6262 6.949 17.3132C8.5 19.0002 9.071 22.2632 9.071 22.2632C9.071 22.2632 10.47 22.6982 10.485 20.8492C10.5 19.0002 9.778 17.3132 9.778 17.3132L13.091 14.0002L16.701 21.7042C16.701 21.7042 18.08 22.2302 18.04 20.3652C18 18.5002 16.85 10.2422 16.85 10.2422L19.678 7.41319C19.869 7.22869 20.0214 7.008 20.1262 6.76399C20.231 6.51999 20.2862 6.25755 20.2885 5.99199C20.2908 5.72643 20.2402 5.46307 20.1396 5.21728C20.0391 4.97149 19.8906 4.74818 19.7028 4.5604C19.515 4.37261 19.2917 4.2241 19.0459 4.12354C18.8001 4.02298 18.5368 3.97238 18.2712 3.97468C18.0056 3.97699 17.7432 4.03217 17.4992 4.13698C17.2552 4.2418 17.0345 4.39417 16.85 4.58519L13.947 7.48819C13.947 7.48819 6.148 6.09419 3.824 6.29719C1.5 6.50018 2.559 7.56319 2.559 7.56319L10.203 11.2332L6.95 14.4862C6.95 14.4862 4.328 13.5562 3.414 13.7782Z"
              fill="#2F80ED"
            />
          </svg>
          <span class="font-[500] text-[18px]">my Dream Place</span>
        </a>
      </header>
      <p>Your next goto companion for travel</p>
    </section>
    <section class="flex flex-col gap-3">
      <h3 class="text-[16px] font-[600] mb-2">Company</h3>
      <p>About</p>
      <p>Jobs</p>
      <p>Newsroom</p>
      <p>Advertising</p>
      <p>Contact us</p>
    </section>
    <section class="flex flex-col gap-3">
      <h3 class="text-[16px] font-[600] mb-2">Explore</h3>
      <p>Australia</p>
      <p>New Zealand</p>
      <p>United States America (USA)</p>
      <p>Greece</p>
      <p>Maldives</p>
      <p>Singapore</p>
      <p class="text-[#2F80ED] cursor-pointer">See more</p>
    </section>
    <section class="flex flex-col gap-3">
      <h3 class="text-[16px] font-[600] mb-2">Terms and Policies</h3>
      <p>Privacy Policy</p>
      <p>Terms of use</p>
      <p>Acessibility</p>
      <p>Reward system policy</p>
    </section>
    <section class="flex flex-col gap-3">
      <h3 class="text-[16px] font-[600] mb-2">Help</h3>
      <p>Support</p>
      <p>Cancel your bookings</p>
      <p>Use Coupon</p>
      <p>Refund Policies</p>
      <p>International Travel Documents</p>
    </section>
  </div>
  <div class="bg-[#EBEBEB] flex justify-end items-center gap-1 h-[40px]">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
    >
      <g clip-path="url(#clip0_1_457)">
        <path
          d="M7.99992 14.6666C4.31992 14.6666 1.33325 11.6799 1.33325 7.99992C1.33325 4.31992 4.31992 1.33325 7.99992 1.33325C11.6799 1.33325 14.6666 4.31992 14.6666 7.99992C14.6666 11.6799 11.6799 14.6666 7.99992 14.6666Z"
          stroke="#4F4F4F"
          stroke-width="1.2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M9.91983 9.99992C9.43369 10.4287 8.80802 10.6657 8.15983 10.6666C6.6865 10.6666 5.49316 9.47325 5.49316 7.99992C5.49316 6.52659 6.6865 5.33325 8.15983 5.33325C8.80802 5.33418 9.43369 5.57118 9.91983 5.99992"
          stroke="#4F4F4F"
          stroke-width="1.2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
      <defs>
        <clipPath id="clip0_1_457">
          <rect width="16" height="16" fill="white" />
        </clipPath>
      </defs>
    </svg>
    <p class="sm:mr-[205px] mr-16">my Dream Place 2022</p>
  </div>
</template>

<script setup>
</script>

<style lang="scss" scoped>
</style>